fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
python-dotenv
newspaper3k
textblob
scikit-learn
nltk
requests
feedparser
beautifulsoup4
lxml_html_clean
networkx
aiofiles
